h1 Assignment

h2 User_sign_up
form(action='/sign_up', method='POST')
    | Enter Full Name :
    input(type='text',name='name')
    br
    | Enter Email:
    input(type='text',name='email')
    br
    | Enter Address:
    input(type='text',name='address')
    br
    | Enter Password:
    input(type='text',name='password')
    br
    | Enter Confirm password:
    input(type='text',name='cpassword')
    br
    input(type='submit')
    br
    hr
    hr

h2 User_Listing
form(action='/get_users', method='POST')
    input(type='submit')
    br
    hr
    hr

h2 Image_Upload
form(action='/image', method='POST' enctype="multipart/form-data")
    | Choose:
    input(type='file',name='img')
    br
    br
    input(type='submit',value='Upload')
    br




